<div class="trait-row grid-row js-trait-row">
    <input class="js-trait-id" type="hidden" name="id" value="{{this.id}}">
    <span class="delete-button js-remove-trait-row">✖</span>
    {{#if this}}
    <span class="assign-products js-assign-products">Привязать товары</span>
    {{/if}}
    <div class="grid-col-uv-12">
        <div class="mb-5">
            <label>Name: </label>
            <input name="name" type="text" value="{{this.name}}" required>
        </div>
        <div class="mb-5">
            <label>Slug: </label>
            <input name="slug" type="text" value="{{this.slug}}" required>
        </div>
    </div>
    <div class="grid-col-uv-12">
        {{#each this.values}}
            {{> _trait_value}}
        {{/each}}
        <div class="js-add-trait-value">
            <span class="dashed-link">Добавить значение</span>
        </div>
    </div>
</div>
