<div class="trait-value js-trait-value">
    <input type="hidden" name="values[id]" value="{{this.id}}">
    <span class="delete-button js-remove-trait-value">✖</span>
    <input name="values[value]" type="text" value="{{this.value}}" required>
</div>
