.catalogue-filter {
  .filter-title { font-size: 18px; line-height: 1.5; border-bottom: 1px solid #333; }
  .filter-values {
    margin: 10px 0 20px;
    & > div { line-height: 1.4; font-size: 16px; }
  }
}
