<form action="/" class="js-traits-form">
    <div class="grid-row">
        <div class="grid-col-uv-12">
            <h2>Names</h2>
        </div>
        <div class="grid-col-uv-12">
            <h2>Values</h2>
        </div>
    </div>
    {{#each data}}
        {{> partials/_trait_row}}
    {{/each}}
    <div class="js-add-trait-row">
        <span class="dashed-link">Добавить характеристику</span>
    </div>
    <div class="submit-block">
        <input type="submit" value="Save">
    </div>
</form>